@tailwind base;
@tailwind components;
@tailwind utilities;

.content-bold-heading {
  font-weight: bold;
  padding: 0.5em !important;
  text-align: center;
}
.content-bold {
  font-weight: bold;
  padding: 0.5em !important;
}
.content-normal {
  padding: 0.5em;
  text-align: left;
  vertical-align: middle;
}

/* .gin-table th {
  width: 100px;
} */

.custom-table thead {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.custom-table tbody td {
  border: none; /* Ensures no border for data cells */
}
